﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.menu-items {
    width: 180px;
    height: 180px;
    background: #ffffff;
    transition: 0.2s ease-in-out;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: #44c373;
}
    .menu-items:hover {
        box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
        transform: translate(0px, 0px);
    }
    .menu-items #plan-name, menu-items #plan-calories {
        padding-top: 70px;
    }

/*переключение недель, дней*/
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #44c373;
}
    .nav-tabs .nav-link {
        background-color: #fff;
    }
        .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
            border-color: #dee2e6 #dee2e6 #dee2e6;
        }
#daysTab {
    justify-content: space-between;
}
#daysTab span, #weeksTab span, #dayqtyTab span {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.form-group {
    display: inline;
    width: 5px;
}

#dayweek-selectors {
    display: inline-block;
    flex-direction: row;
}

#day-selector {
    justify-content: space-between;
}

#menu-container {
}

.main-menu-choise {
    background-color: #f5f4f5;
}
/*Переключение планов*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #44c373;
    border-radius: 10px;
}
.nav-pills .nav-link {
    color: #44c373;
    background-color: #fff;
    border-radius: 10px;
}

#myTab {
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
}

.week-ration {
    text-align: center;
}

hr {
    color: #44c373;
    width: 150px;
}

/**/


#promo {
    font-size: 1rem;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(/images/Header.jpg);
    background-repeat: no-repeat;
    padding: 10% 0;
    height: auto;
    width: 100%;
}
    #imagebanner img {
        width: auto;
        height: auto;
    }
    
    #promo * {
        font-size: 1em;
    }


.card-title {
    font-size: 15px;
    font-weight: 400;
}
.text-white {
    margin-top: 10px;
}
/*.text-white :hover {
    background-color: #000000;
    opacity: 0.7;
}*/
/*.card-img-overlay {
    margin-left: 15px;
    margin-top: -18px;
}
    .card-img-overlay:hover {
        background-color: #000000;
        opacity: 0.7;
    }*/
/*.text-white, .card-img-overlay {
    width: 360px;
    height: 250px;
}*/
.text-white:hover {
       /*width: 94%;
    height: 100%;
    background-color: #000000;*/
       opacity: 0.8;
   }
#loadDishes {
    margin-right: 5px;
    margin-top: 5px;
}
#menu-items-description {
    margin: 5px;
    display: flex;
    justify-content: center;
}
#day-selector {
    margin-top: 5px;
    margin-bottom: 5px;
}
#week-selector {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}
#menu-description-form {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
}
input[type=submit] {
    background-color: #44c373;
    color: #dee2e6;
}
.container-plan-description {
    justify-content: left;
    padding-top: 25px;
    padding-bottom: 25px;
}
.list-group-item-action {
    width: 100%;
    color: #44c373;
    text-align: inherit;
}
.card-img-overlay:hover div{
    display: block;
    visibility: visible;
}

/*.cardtest {
    height: auto;
    width: 200px;
}

    .cardtest:hover {
        background-color: #000000;
        opacity: 0.7;
    }

#menu-items {
    display: flex;
    justify-content: space-between;
}

.card-text, .card-title {
    margin-left: 15px;
    margin-top: -32px;
}*/
/*.img{
    opacity: 0.7;
}*/
/*.text-white, .card-img-overlay {
    width: 360px;
    height: 250px;
}*/
