﻿@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Myaso.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подтверждение оплаты</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Заказ №:</label>
                <label asp-for="Id" class="control-label">@Model.Id</label>
                <input class="hidden" asp-for="Id"/>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Дата начала:</label>
                <label asp-for="StartDate" class="control-label">@Model.StartDate</label>
                <input class="hidden" asp-for="StartDate"/>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Дата окончания:</label>
                <label asp-for="EndDate" class="control-label">@Model.EndDate</label>
                <input class="hidden" asp-for="EndDate"/>
            </div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label">План:</label>
                <label asp-for="PlanName" class="control-label">@Model.PlanName</label>
                <input class="hidden" asp-for="PlanName"/>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PayConfirmed" /> @Html.DisplayNameFor(model => model.PayConfirmed)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PayConfirmedByModer" /> @Html.DisplayNameFor(model => model.PayConfirmedByModer)
                    </label>
                </div>
            </div>*@
            @if (User.IsInRole("admin"))
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="PayConfirmedByAdmin" /> Подтверждение оплаты Админом
                        </label>
                    </div>
                </div>
            }
            else if (User.IsInRole("moderator"))
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="PayConfirmedByModer" /> Подтверждение оплаты
                        </label>
                    </div>
                </div>
            }
            
            
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label">@Model.UserId</label>
                <input class="hidden" asp-for="UserId" />
            </div>
            <div class="form-group">
                <label asp-for="OrderDescId">@Model.OrderDescId</label>
                <input class="hidden" asp-for="OrderDescId" />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

