﻿@model Myaso.Models.Order

@{
    ViewData["Title"] = "OrderProlongate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderProlongate</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderProlongate"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <div asp-for="PlanName" class="form-control">@Model.PlanName</div>
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <div asp-for="StartDate" class="form-control">@Model.StartDate</div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Дата окончания</label>
                <input type="datetime" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="hidden" asp-for="PayConfirmed" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="hidden" asp-for="PayConfirmedByModer" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="hidden" asp-for="PayConfirmedByAdmin" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderDescId" class="form-control" />
                <span asp-validation-for="OrderDescId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-orderQuantity="" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

