﻿@model Myaso.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подтверждение заказа</h2>

<div>
    <h4>Заказ</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            Пользователь
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt>
            План
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.Name)
        </dd>
        <dt>
            Количество приемов пищи
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderDesc.Description)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderDesc.PlanPrice)
        </dd>
        <dt>
            Дата начала
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.StartDate)
        </dd>
        <dt>
            Дата окончания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.EndDate)
        </dd>

    </dl>
</div>
<div>
    <form asp-action="Create">
        <div class="form-group">
            <input type="hidden" name="userPhone" class="form-control" value="@User.Identity.Name" />
            <input type="hidden" name="planName" class="form-control" value="@Model.Plan.Name" />
            <input type="hidden" name="planDescription" class="form-control" value="@Model.Order.OrderDesc.Description" />
            <input type="hidden" name="planDescription" class="form-control" value="@Model.Order.OrderDesc.PlanPrice" />
            <input type="hidden" name="planStartDate" class="form-control" value="@Model.Order.StartDate" />
            <input type="hidden" name="planEndDate" class="form-control" value="@Model.Order.EndDate" />
            <input type="number" min="1" name="weekQty" class="form-control" value="1" />

            <input type="submit" value="Заказать" class="btn btn-default" />
        </div>
    </form>
    
</div>
