﻿@model Myaso.ViewModels.MenuViewModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}


<h2>Удалить</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownList("newdishId", ViewBag.Dishes as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("newfoodId", ViewBag.foods as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("newdayId", ViewBag.Days as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("newweekId", ViewBag.Weeks as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("newplanId", ViewBag.Plans as SelectList)
            </div>
            <div class="form-group">
                <input type="submit" value="Удалить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

