﻿@model Myaso.ViewModels.MenuViewModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Изменить меню</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownList("NewdishId", ViewBag.Dishes as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("NewfoodId", ViewBag.foods as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("NewdayId", ViewBag.Days as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("NewweekId", ViewBag.Weeks as SelectList)
            </div>
            <div class="form-group">
                @Html.DropDownList("NewplanId", ViewBag.Plans as SelectList)
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку меню</a>
</div>

