﻿@model Myaso.ViewModels.MenuViewModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Заполнение меню</h2>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><b>План</b></th>
            <th><b>Неделя</b></th>
            <th><b>День</b></th>
            <th><b>Название блюда</b></th>
            <th><b>Описание</b></th>
            <th><b>Белки, жиры, углеводы</b></th>
            <th><b>№ приема</b></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DishToPlans)
        {
            <tr>
                <td>
                    @item.PlanToDay.Plan.Name
                </td>
                <td>
                    @item.PlanToDay.Week.Name
                </td>
                <td>
                    @item.PlanToDay.Day.Name
                </td>
                <td>
                    @item.Dish.Name
                </td>
                <td>
                    @item.Dish.WeigthAndCalories
                </td>
                <td>
                    @item.Dish.Proteins
                </td>
                <td>
                    @item.Food.Name
                </td>
                <td>
                    @Html.ActionLink("Добавить", "Create", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Изменить", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>