﻿@model IEnumerable<Myaso.Models.Order>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Управление заказами</h2>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                № заказа
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.UserSort">
                    Пользователь
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.PlanSort">
                    План
                </a>
            </th>
            <th>
                Описание плана
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.StartDateSort">
                    Дата начала
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.EndDateSort">
                    Дата окончания
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.VizaSort">
                    Оплачено картой Viza
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.CnfByModSort">
                    Потверждено Модератором
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.CnfByAdmSort">
                    Потверждено Администратором
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDesc.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayConfirmedByModer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayConfirmedByAdmin)
                </td>
                <td>
                    @*@Html.ActionLink("Order", "Edit", new { id = item.Id })*@
                    <a asp-area="" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
