﻿@model IEnumerable<Myaso.Models.Order>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Управление заказами</h2>
<div>
    <div>
        <ul class="nav flex-column">
            <li class="nav-item"><a asp-action="Index" asp-controller="Plan" asp-route-sortOrder="@ViewBag.UserSort"><b>Планы</b></a> </li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Dish" asp-route-sortOrder="@ViewBag.UserSort"><b>Блюда</b></a> </li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню</b></a> </li>
            <li class="nav-item"><a asp-action="Edit" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню_test</b></a> </li>
            <li class="nav-item"><a asp-action="Admin" asp-route-sortOrder="@ViewBag.UserSort"><b>Изменить блюда</b></a> </li>
        </ul>
    </div>
    <div>
        <form method="get">
            <div class="form-inline form-group">

                <label class="control-label">От: </label>
                <input type="date" name="dateFrom" />
                <span> -- </span>
                <label class="control-label">  До: </label>
                <input type="date" name="dateTo" />
                <br />
                <label class="control-label">Оплачено Viza </label>
                @Html.CheckBox("visa", false);
                <br />
                <label class="control-label">Подтверждено Модератором </label>
                @Html.CheckBox("moder", false);
                <br />
                <label class="control-label">Подтверждено Администратором </label>
                @Html.CheckBox("adm", false);
                <br />
                <input type="submit" value="Фильтр" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                № заказа
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.UserSort">
                    Пользователь
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.PlanSort">
                    План
                </a>

            </th>
            <th>
                Описание плана
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.StartDateSort">
                    Дата начала
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.EndDateSort">
                    Дата окончания
                </a>
            </th>

            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.VizaSort">
                    Оплачено картой Viza
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.CnfByModSort">
                    Потверждено Модератором
                </a>
            </th>
            <th>
                <a asp-action="Admin" asp-route-sortOrder="@ViewBag.CnfByAdmSort">
                    Потверждено Администратором
                </a>
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDesc.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayConfirmedByModer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayConfirmedByAdmin)
            </td>
            <td>
                @*@Html.ActionLink("Order", "Edit", new { id = item.Id })*@
                <a asp-area="" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
            </td>
        </tr>
        }
    </tbody>
</table>

