﻿@model IEnumerable<Myaso.Models.Order>

@{
    ViewData["Title"] = "Moderator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moderator</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                № заказа
            </th>
            <th>
                Пользователь
            </th>
            <th>
                План
            </th>
            <th>
                Описание плана
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата окнчания
            </th>

            <th>
                Оплачено картой Viza
            </th>
            <th>
                Потверждено Модератором
            </th>
            <th>
                Потверждено Администратором
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDesc.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayConfirmedByModer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayConfirmedByAdmin)
                </td>
                <td>
                    @*@Html.ActionLink("Order", "Edit", new { id = item.Id })*@
                    <a asp-area="" asp-controller="Order" asp-action="EditByModer" asp-route-id="@item.Id">Изменить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
