﻿@model IEnumerable<Myaso.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Мои заказы</h2>

<p>
    <a asp-action="Index" asp-controller="Home"><b>Заказать</b></a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
                <th>
                    <b>№ заказа</b>
                </th>
                <th>
                    <b>Дата начала</b>
                </th>
                <th>
                    <b>Дата окончания</b>
                </th>
                @*<th>
                    Подтверждение оплаты
                </th>*@
                <th>
                    <b>Название плана</b>
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.PayConfirmedByAdmin)
                </th>*@
                <th>
                    <b>Пользователь</b>
                </th>
                <th>
                    <b>Цена</b>
                </th>
                <th>
                    <b>Описание</b>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PayConfirmed)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PayConfirmedByAdmin)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDesc.PlanPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDesc.Description)
            </td>
            <td>
                @*@Html.ActionLink("Продлить заказ", "OrderProlongate", "Order", new {  id=item.Id  }) |*@
                @if (!item.IsProlongated)
                {
                <div id="btn-disappear-@item.Id">
                    <input type="submit" onclick="openCommentForm(@item.Id)"  style="cursor: pointer" class="btn btn-default" value="Продлить заказ"/>
                    @*<a onclick="openCommentForm(@item.Id)" style="cursor: pointer">Продлить заказ</a>*@
                </div>
                    <div id="prolongatediv-@item.Id" style="display: none">
                        <form asp-action="Create" asp-controller="Order" name="form" asp-antiforgery="true">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="hidden" name="userPhone" class="form-control" value="@User.Identity.Name" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="planName" class="form-control" value="@item.PlanName" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="planDescription" class="form-control" value="@item.OrderDesc.Description" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="planStartDate" class="form-control" value="@item.StartDate" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="planEndDate" class="form-control" value="@item.EndDate" />
                            </div>
                            <div class="form-group">
                                <input type="number" min="1" name="weekQty" class="form-control" value="1" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="id" class="form-control" value="@item.Id" />
                            </div>
                            <input type="submit" value="Продлить" class="btn btn-default" />
                        </form>
                    </div>
                }
                
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function openCommentForm(itemId) {            
        $('#prolongatediv-' + itemId).show();
        $('#btn-disappear-' + itemId).hide();
    }
</script>