﻿@model Myaso.ViewModels.PlanViewModel
@{
    Html.RenderPartial("_GetMainPage");@*Сюда подгружается главная сттраница*@
}

<div class="container">
    <div class="week-ration">
        <h1>Частые вопросы</h1>
        <hr />
    </div>

    <nav class="nav nav-pills" id="myFaqs" role="tablist">
        @foreach (var faq in Model.Faqs)
        {
            <div class="menu-items nav-item nav-link" data-toggle="tab" role="tab" id="faq-items-@faq.Name" onclick="selectfaq('@faq.Name')" style="cursor: pointer">
                <h3 id="faq-name">@faq.Name</h3>
            </div>

        }
    </nav>
    <div id="faqcontainer">
        @{
            Html.RenderPartial("_FAQ");
        }
    </div>
</div>


@section Scripts
    {
    <script>
        //$('#dishes-hover').hover(
        //    //function () {
        //    //    $('.dishName-').show();
        //    //    $('.proteins').show();
        //    //},
        //    function () {
        //        $('#dishes-hover div:first').hide();
        //        $('#dishes-hover div:last').hide();
        //    });
        //$('#menu-items').hover(
        //    function(){
        //        alert('Вы попали на территорию элемента "foo", известную своей валидной версткой'+
        //            'и наличием диких обработчиков событий.');
        //    },
        //    function(){
        //        alert('Вы покинули территорию элемента "foo". Мы будем рады видеть вас снова.');
        //    });
        $(function() {
            $('#myTab div:first').tab('show');
            $('#myFaqs div:first').tab('show');
            $('#mytest div:first').tab('show');
            $('#daysTab span:first').tab('show');
            $('#weeksTab span:first').tab('show');
            $('#dayqtyTab span:first').tab('show');
        });
        $(document).ready(function() {
            $('#loadDishes').load('@Url.Action("GetDishes", "Home")');
        });
        function selectdays(daysQty) {
            var descrip = document.getElementById('orderDescription');
            var planprice = document.getElementById('planPrice');
            var planName = document.getElementById('planName');
            $.ajax({
                url: '@Url.Action("SelectDays", "Home")',
                type: 'GET',
                data: {
                    'planName': planName.innerHTML,
                    'daysQty': daysQty
                },
                success: function (data) {
                    $('#orderDescription').html(JSON.parse(data).Description);
                    //$('#caloriesQuantity').html(JSON.parse(data).Plan.CaloriesQuantity);
                    $('#planPrice').html(JSON.parse(data).PlanPrice);
                    $('#pricePerDay').html('≈ ' + JSON.parse(data).PricePerDay + ' в день');
                    $('#pricePerDish').html('≈ ' + JSON.parse(data).PricePerDish + ' за блюдо');
                    $('#timeOfDelivery').html(JSON.parse(data).TimeOfDelivery);
                    document.form.description.value = descrip.innerHTML;
                    document.form.planPrice.value = planprice.innerHTML;
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function selectplan(planName) {
            var descrip = document.getElementById('orderDescription');
            var planprice = document.getElementById('planPrice');
            $.ajax({
                url: '@Url.Action("Test", "Home")',
                type: 'GET',
                data: {
                    'planName': planName,
                    'dayName': $('#settings').data('day'),
                    'weekId': $('#settings').data('week')
                },
                success: function (data) {
                    $('#settings').data('day', JSON.parse(data).Day.NameEn);//Запись переменных в атрибуты
                    $('#settings').data('plan', JSON.parse(data).Plan.Name);
                    $('#settings').data('week', JSON.parse(data).Week.Id);
                    var article = document.getElementById("planName");//Запись planName для передачи в форме
                    article.innerHTML = JSON.parse(data).Plan.Name;
                    document.form.planName.value = article.innerHTML;
                    $('#planName').html(JSON.parse(data).Plan.Name);//Отображение обновленных данных
                    $('#caloriesQuantity').html("≈  " + JSON.parse(data).Plan.CaloriesQuantity);
                    $('#orderDescription').html(JSON.parse(data).OrderDesc.Description);
                    $('#planPrice').html(JSON.parse(data).OrderDesc.PlanPrice);
                    $('#pricePerDay').html('≈ ' + JSON.parse(data).OrderDesc.PricePerDay + ' в день');
                    $('#pricePerDish').html('≈ ' + JSON.parse(data).OrderDesc.PricePerDish + ' за блюдо');
                    $('#timeOfDelivery').html(JSON.parse(data).OrderDesc.TimeOfDelivery);
                    $('#planshortDescription').html(JSON.parse(data).Plan.ShortDescription);
                    $('#plandescription').html(JSON.parse(data).Plan.Description);
                    document.form.description.value = descrip.innerHTML; //Запись данных для передачи в форме
                    document.form.planPrice.value = planprice.innerHTML;
                    $('#loadDishes').load('@Url.Action("GetDishes", "Home")?weekId=' + $('#settings').data('week')
                        + '&planName=' + planName
                        + '&dayName=' + $('#settings').data('day'));
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function selectDayMenu(dayName) {
            $.ajax({
                url: '@Url.Action("Test", "Home")',
                type: 'GET',
                data: {
                    'planName': $('#settings').data('plan'),
                    'dayName': dayName,
                    'weekId': $('#settings').data('week')
                },
                success: function (data) {
                    $('#settings').data('plan', JSON.parse(data).Plan.Name);
                    $('#settings').data('day', JSON.parse(data).Day.NameEn);
                    $('#settings').data('week', JSON.parse(data).Week.Id);
                    $('#loadDishes').load('@Url.Action("GetDishes", "Home")?weekId=' + $('#settings').data('week')
                        + '&planName=' + $('#settings').data('plan')
                        + '&dayName=' + dayName);
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function selectweek(weekId) {
            $.ajax({
                url: '@Url.Action("Test", "Home")',
                type: 'GET',
                data: {
                    'planName': $('#settings').data('plan'),
                    'dayName': $('#settings').data('day'),
                    'weekId': weekId
                },
                success: function (data) {
                    $('#settings').data('day', JSON.parse(data).Day.NameEn);
                    $('#settings').data('plan', JSON.parse(data).Plan.Name);
                    $('#settings').data('week', JSON.parse(data).Week.Id);
                    $('#jsTesting').data('js', JSON.parse(data).Plan.Name);
                    $('#loadDishes').load('@Url.Action("GetDishes", "Home")?weekId=' + weekId
                        + '&planName=' + $('#settings').data('plan')
                        + '&dayName=' + $('#settings').data('day'));
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        @*function selectfaq(faqName) {
            $.ajax({
                url: '@Url.Action("Test", "Faq")',
                type: 'GET',
                data: {
                    'faqName': faqName
                },
                success: function (data) {
                    $('#faqcontainer').load('@Url.Action("Test", "Faq")?faqName=' + faqName);
                    $('#faqname-' + '@Model.Faq.Id').html(JSON.parse(data).Name);
                    $('#faqdescription-').html(JSON.parse(data).FaqDescriptions[0].Name);
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }*@

        function selectfaq(faqName) {
            $('#faqcontainer').load('@Url.Action("Test", "Faq")?faqName=' + faqName);
        }
    </script>
}