﻿@model Myaso.Models.Dish

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Подтверждение удаления</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Название блюда</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <b>Вес и количество каллорий</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeigthAndCalories)
        </dd>
        <dt>
            <b>Белки, жиры, углеводы</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DeletePost" class="btn btn-primary" asp-route-id="@Model.Id" role="button">Удалить</a><br/><br />
    <a asp-action="Index">К списку блюд</a>
</div>
