﻿@model Myaso.ViewModels.CreateDishModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}


<h2>Изменить блюдо @Model.Name</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название блюда</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeigthAndCalories" class="control-label">Вес и количество каллорий</label>
                <input asp-for="WeigthAndCalories" class="form-control" />
                <span asp-validation-for="WeigthAndCalories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proteins" class="control-label">Белки, жиры, углеводы</label>
                <input asp-for="Proteins" class="form-control" />
                <span asp-validation-for="Proteins" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="DishImage"></label><br />
                <input class="form-control" type="file" name="DishImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку блюд</a>
</div>

