﻿@model IEnumerable<Myaso.Models.Dish>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Список блюд</h2>

<p>
    <a asp-action="Create"><b>Создать новое блюдо</b></a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <b>№</b>
            </th>
            <th>
                <b>Название блюда</b>
            </th>
            <th>
                <b>Вес и количество каллорий</b>
            </th>
            <th>
                <b>Белки, жиры, углеводы</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeigthAndCalories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proteins)
                </td>
                <td>
                    @Html.ActionLink("Создать", "Create", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
