﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/vendor.min.css" />
        <link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
    </environment>
</head>
<body>
    @{
        Html.RenderPartial("_NavigationMenu");
    }
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Plan" asp-route-sortOrder="@ViewBag.UserSort"><b>Планы</b></a>
                <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Dish" asp-route-sortOrder="@ViewBag.UserSort"><b>Блюда</b></a>
                <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню</b></a>
                <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Faq" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение FAQ</b></a>
            </div>
            @*<ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Plan" asp-route-sortOrder="@ViewBag.UserSort"><b>Планы</b></a> </li>
                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Dish" asp-route-sortOrder="@ViewBag.UserSort"><b>Блюда</b></a> </li>
                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню</b></a> </li>
                <li class="nav-item"><a class="nav-link" asp-action="Edit" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню_test</b></a> </li>
                <li class="nav-item"><a class="nav-link" asp-action="Admin" asp-controller="User" asp-route-sortOrder="@ViewBag.UserSort"><b>Изменить блюда</b></a> </li>
            </ul>*@
        </div>
        @*<nav class="collapse bd-links" id="bd-docs-nav">
            <div class="bd-toc-item >
                <ul class="nav bd-sidenav">
                    <li class="active bd-sidenav-active"><a class="nav-link" asp-action="Index" asp-controller="Plan" asp-route-sortOrder="@ViewBag.UserSort"><b>Планы</b></a> </li>
                    <li class="active bd-sidenav-active"><a class="nav-link" asp-action="Index" asp-controller="Dish" asp-route-sortOrder="@ViewBag.UserSort"><b>Блюда</b></a> </li>
                    <li class="active bd-sidenav-active"><a class="nav-link" asp-action="Index" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню</b></a> </li>
                    <li class="active bd-sidenav-active"><a class="nav-link" asp-action="Edit" asp-controller="Menu" asp-route-sortOrder="@ViewBag.UserSort"><b>Заполнение меню_test</b></a> </li>
                    <li class="active bd-sidenav-active"><a class="nav-link" asp-action="Admin" asp-route-sortOrder="@ViewBag.UserSort"><b>Изменить блюда</b></a> </li>
                </ul>
                
            </div>            
        </nav>*@
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            @RenderBody()
        </main>
        <div class="container">

        </div>
    </div>
    
    <div>

    </div>
    <div class="admin-menu-list">

    </div>
    <div>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/vendor.min.js"></script>
    </environment>
</body>
</html>
