﻿@model Myaso.ViewModels.PlanViewModel

    
    @foreach (var desc in Model.FaqDescriptions)
    {
        <div id="faqname">@desc.Name</div>
        <div id="faqdescription">@desc.Description</div>
    }
    


