﻿
@model Myaso.ViewModels.PlanViewModel

@{
    ViewData["Title"] = "Index";
}
@{
    Html.RenderPartial("_GetPlans");@*Сюда подгружается список планов*@
}
<hr />
<div class=" row container-plan-description">
    <h3 id="planshortDescription">@Model.Plan.ShortDescription</h3>
    <div class="row col-md-8" id="plandescription">@Model.Plan.Description</div>
</div>
@*<div id="test-plan"></div>*@
<div id="settings" data-plan="@Model.Plan.Name" data-day="@Model.Day.NameEn" data-week="@Model.Week.Id"></div>
@*<div id="jsTesting" data-js="dfd"></div>*@

@{
    Html.RenderPartial("_GetDaysWeeks");@*Сюда подгружается список дней и недель*@
}

@*<div class="day-week-container">
    <div class="row" id="dayweek-selectors-container">
        <div class="row col-md-8" id="day-selector">
            <nav class="nav nav-tabs" id="daysTab" role="tablist">
                @foreach (var day in Model.Days)
                {
                    <span class="col-md-1 nav-item nav-link day-selection" id="day-items" data-toggle="tab" role="tab" onclick="selectDayMenu('@day.NameEn')" style="cursor: pointer">@day.Name</span>
                }
            </nav>
        </div>
        <div class=" row col-md-4" id="week-selector">
            <nav class="nav nav-tabs" id="weeksTab" role="tablist">
                @foreach (var week in Model.Weeks)
                {
                    <span class="col-md-6 nav-item nav-link week" id="week-items" data-toggle="tab" role="tab" onclick="selectweek('@week.Id')" style="cursor: pointer">@week.Name</span>
                }
            </nav>
        </div>
    </div>
</div>*@
<div class="row" id="menu-container">
    <div class="row col-md-8" id="loadDishes"></div>@*Сюда подгружается список блюд*@
    <div class="row col-md-4" id="menu-items-description">
        @*Здесь отображается описание плана*@
        @if (User.Identity.IsAuthenticated)
        {
            <div id="menu-description-form">
                <input type="hidden" id="days5" value="5 будних" />
                <input type="hidden" id="days7" value="7 дней" />
                <div>
                    <form asp-action="OrderDetails" asp-controller="Order" name="form" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" name="description" class="form-control" value="@Model.OrderDesc.Description" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="planPrice" class="form-control" value="@Model.OrderDesc.PlanPrice" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="planName" class="form-control" value="@Model.Plan.Name" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="userId" class="form-control" value="@Model.User.Phone" />
                        </div>
                        <div class="form-group">
                            <h3 id="planName" class="control-label">@Model.Plan.Name</h3>
                            <h5 id="caloriesQuantity">≈ @Model.Plan.CaloriesQuantity</h5>
                            <nav class="nav nav-tabs flex-column" id="dayqtyTab" role="tablist">
                                <span class="nav-item nav-link" data-toggle="tab" role="tab" id="select-days5" onclick="selectdays(document.getElementById('days5').value)" style="cursor: pointer">
                                    На 5 дней
                                </span>
                                <span class="nav-item nav-link" data-toggle="tab" role="tab" id="select-days7" onclick="selectdays(document.getElementById('days7').value)" style="cursor: pointer">
                                    На 7 дней
                                </span>
                            </nav>
                            <div id="orderDescription" class="control-label">@Model.OrderDesc.Description</div>
                            <div id="planPrice" class="control-label">@Model.OrderDesc.PlanPrice</div>
                            <div id="pricePerDay" class="control-label">≈ @Model.OrderDesc.PricePerDay в день</div>
                            <div id="pricePerDish" class="control-label">≈ @Model.OrderDesc.PricePerDish за блюдо</div>
                            <input type="submit" value="Заказать" class="btn btn-default" />
                            <div id="timeOfDelivery" class="control-label">@Model.OrderDesc.TimeOfDelivery</div>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div id="menu-description-form">
                <input type="hidden" id="days5" value="5 будних" />
                <input type="hidden" id="days7" value="7 дней" />
                <div>
                    <form asp-action="Register" asp-controller="Account" name="form">
                        <div class="form-inline form-group">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="description" class="form-control" value="Not Used" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="planPrice" class="form-control" value="Not Used" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="planName" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <h3 id="planName" class="control-label">@Model.Plan.Name</h3>
                            <h5 id="caloriesQuantity">≈ @Model.Plan.CaloriesQuantity</h5>
                            <nav class="nav nav-tabs flex-column" id="dayqtyTab" role="tablist">
                                <span class="nav-item nav-link" data-toggle="tab" role="tab" id="select-days5" onclick="selectdays(document.getElementById('days5').value)" style="cursor: pointer">
                                    На 5 дней
                                </span>
                                <span class="nav-item nav-link" data-toggle="tab" role="tab" id="select-days7" onclick="selectdays(document.getElementById('days7').value)" style="cursor: pointer">
                                    На 7 дней
                                </span>
                            </nav>
                            <div id="orderDescription" class="control-label">@Model.OrderDesc.Description</div>
                            <div id="planPrice" class="control-label">@Model.OrderDesc.PlanPrice</div>
                            <div id="pricePerDay" class="control-label">≈ @Model.OrderDesc.PricePerDay в день</div>
                            <div id="pricePerDish" class="control-label">≈ @Model.OrderDesc.PricePerDish за блюдо</div>
                            <input type="submit" value="Заказать" class="btn btn-default" />
                            <div id="timeOfDelivery" class="control-label">@Model.OrderDesc.TimeOfDelivery</div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
    <hr />
</div>




