﻿<div class="day-week-container">
    <div class="row" id="dayweek-selectors-container">
        <div class="row col-md-8" id="day-selector">
            <nav class="nav nav-tabs" id="daysTab" role="tablist">
                @foreach (var day in Model.Days)
                {
                    <span class="col-md-1 nav-item nav-link day-selection" id="day-items" data-toggle="tab" role="tab" onclick="selectDayMenu('@day.NameEn')" style="cursor: pointer">@day.Name</span>
                }
            </nav>
        </div>
        <div class=" row col-md-4" id="week-selector">
            <nav class="nav nav-tabs" id="weeksTab" role="tablist">
                @foreach (var week in Model.Weeks)
                {
                    <span class="col-md-6 nav-item nav-link week" id="week-items" data-toggle="tab" role="tab" onclick="selectweek('@week.Id')" style="cursor: pointer">@week.Name</span>
                }
            </nav>
        </div>
    </div>
</div>