﻿@model Myaso.ViewModels.PlanViewModel

<div class="week-ration">
    <h1>Выберите рацион для своей недели</h1>
    <hr />
</div>

<nav class="nav nav-pills" id="myTab" role="tablist">
    @foreach (var plan in Model.Plans)
    {
        <div class="menu-items nav-item nav-link" data-toggle="tab" role="tab" id="plan-items-@plan.Name" onclick="selectplan('@plan.Name')" style="cursor: pointer">
            <h3 id="plan-name">@plan.Name</h3>
            <div id="plan-calories">≈ @plan.CaloriesQuantity</div>
        </div>
    }
</nav>

