﻿@model Myaso.ViewModels.PlanViewModel

<div class="row" id="menu-items">
    @foreach (var item in Model.DishToPlans)
    {
        <div class="col-md-6 col-lg-4 text-white">
            <img class="card-img" id="dish-Image-@item.Food.Id" src="@item.Dish.DishImagePath" alt="Card image">
            <div class="card-img-overlay" id="dishes-hover">
                <h6 class="card-title">@item.Food.Name</h6>
                <p class="card-text dishName" id="dish-Name-@item.Food.Id">@item.Dish.Name</p>
                <div class="card-text" id="dish-weight-@item.Food.Id">@item.Dish.WeigthAndCalories</div>
                <div class="card-text proteins" id="dish-proteins-@item.Food.Id">@item.Dish.Proteins</div>
            </div>
        </div>
    }
    @*Сюда можно будет добавить карту с общим колиеством кал*@
</div>
@section Scripts{
    <script>
        
    </script>
}


@*вешаем на место карточки псевдоэлемент и текст всплывающий это css анимация*@




@*<div class="row dishes" id="menu-items">
        @foreach (var item in Model.DishToPlans)
        {
            <div class="col-md-6 col-lg-4 cardtest">
                <img class="img" id="dish-Image-@item.Food.Id" src="@item.Dish.DishImagePath" alt="Card image">
                <div class="img-overlay">
                    <h6 class="card-title">@item.Food.Name</h6>
                    <div class="card-text" id="dish-Name-@item.Food.Id">@item.Dish.Name</div>
                    <div class="card-text" id="dish-weight-@item.Food.Id">@item.Dish.WeigthAndCalories</div>
                    <div class="card-text" id="dish-proteins-@item.Food.Id">@item.Dish.Proteins</div>
                </div>
            </div>
        }
        @*Сюда можно будет добавить карту с общим колиеством кал*
    </div>*@


@*<div id="dishes-row" data-js="dfd">
        <div class="col" id="dish-Name-@item.Food.Id">
            @item.Dish.Name
        </div>
        <div class="col" id="food-Name-@item.Food.Id">
            @item.Food.Name
        </div>
        <div class="col" id="dish-weight-@item.Food.Id">
            @item.Dish.WeigthAndCalories
        </div>
        <div class="col" id="dish-proteins-@item.Food.Id">
            @item.Dish.Proteins
        </div>
        <div class="col" id="plan-Name-@item.Food.Id">
            @item.PlanToDay.Plan.Name
        </div>
        <div class="col" id="dish-Image-@item.Food.Id">
            <img src="@item.Dish.DishImagePath"/>
        </div>
    </div>*@