﻿<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #44c373;">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">@*<img src="images/logo.png" alt="Myaso">*@</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">КАК ЭТО РАБОТАЕТ</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">МЕНЮ И ТАРИФЫ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">ОТЗЫВЫ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a href="#exampleModal" class="nav-link" data-toggle="modal" data-target="#exampleModal">Личный кабинет</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a></li>
                }
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Профиль @User.Identity.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="User" asp-action="UserProfile">Заказы</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="Admin">Управление</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a>
                        </div>
                    </li>

                    @*<li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Admin">Управление</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Выйти</a></li>*@
                }
                @*else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Профиль @User.Identity.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="User" asp-action="UserProfile">Заказы</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a>
                        </div>
                    </li>
                }*@
            </ul>
        </div>
    </div> <!---container-->
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Autorization</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                    <div class="form-group">
                        <label class="control-label">№ телефона</label>
                        <input name="phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Пароль</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Войти" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
