﻿@model Myaso.Models.Faq

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Тему @Model.Name
        </dt>
    </dl>
    
    <form asp-action="DeleteItem">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
