﻿@model Myaso.ViewModels.CreateFaqViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>@Model.Faq.Name</h2>
<hr/>
<h4>Введите вопрос</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.FaqDescription.Name" class="control-label">Вопрос</label>
                <input asp-for="@Model.FaqDescription.Name" class="form-control" />
                <span asp-validation-for="@Model.FaqDescription.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FaqDescription.Description" class="control-label">Ответ</label>
                <input asp-for="@Model.FaqDescription.Description" class="form-control" />
                <span asp-validation-for="@Model.FaqDescription.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Faq.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

