﻿@model Myaso.Models.FaqDescription

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FaqDescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaqId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaqId)
        </dd>
    </dl>
    
    <form asp-action="DeleteItem">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> 
        <a asp-action="Index">Back to List</a>
    </form>
</div>
