﻿@model Myaso.ViewModels.FaqViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>@Model.Faq.Name</h2>

<p>
    <a asp-action="Create" asp-route-id="@Model.Faq.Id">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    №
                </th>
                <th>
                    Название вопроса
                </th>
                <th>
                    Описание
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Faq.FaqDescriptions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
