﻿@model Myaso.ViewModels.PlanCreateModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Создать план</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Plan.Name" class="control-label">Название плана</label>
                <input asp-for="@Model.Plan.Name" class="form-control" />
                <span asp-validation-for="@Model.Plan.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Plan.CaloriesQuantity" class="control-label">Количество калорий</label>
                <input asp-for="@Model.Plan.CaloriesQuantity" class="form-control" />
                <span asp-validation-for="@Model.Plan.CaloriesQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderDesc5.Description" class="control-label">Количество приемов на 5 будних дней</label>
                <input asp-for="@Model.OrderDesc5.Description" class="form-control" />
                <span asp-validation-for="@Model.OrderDesc5.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderDesc5.PlanPrice" class="control-label">Цена пятидневного плана</label>
                <input asp-for="@Model.OrderDesc5.PlanPrice" class="form-control" />
                <span asp-validation-for="@Model.OrderDesc5.PlanPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderDesc5.TimeOfDelivery" class="control-label">Когда будет осуществляться бесплатная доставка</label>
                <input asp-for="@Model.OrderDesc5.TimeOfDelivery" class="form-control" />
                <span asp-validation-for="@Model.OrderDesc5.TimeOfDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderDesc7.Description" class="control-label">Количество приемов на 7 дней</label>
                <input asp-for="@Model.OrderDesc7.Description" class="form-control" />
                <span asp-validation-for="@Model.OrderDesc7.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderDesc7.PlanPrice" class="control-label">Цена семидневного плана</label>
                <input asp-for="@Model.OrderDesc7.PlanPrice" class="form-control" />
                <span asp-validation-for="@Model.OrderDesc7.PlanPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderDesc7.TimeOfDelivery" class="control-label">Когда будет осуществляться бесплатная доставка</label>
                <input asp-for="@Model.OrderDesc7.TimeOfDelivery" class="form-control" />
                <span asp-validation-for="@Model.OrderDesc7.TimeOfDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

