﻿@model IEnumerable<Myaso.Models.OrderDesc>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Список тарифных планов</h2>

<p>
    <a asp-action="Create"><b>Создать новый план</b></a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <b>№</b>
            </th>
            <th>
                <b>Название</b>
            </th>
            <th>
                <b>Описание</b>
            </th>
            <th>
                <b>Цена</b>
            </th>
            <th>
                <b>Цена за день</b>
            </th>
            <th>
                <b>Цена за блюдо</b>
            </th>
            <th>
                <b>Дни доставки</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plan.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfDelivery)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Создать", "Create", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
